extends layout

block content
  h1= title
  p Welcome to #{title}

  form(action="/urlShortenedResult", method='post')
    div
      label Enter the URL to be shortened
      br
      input(type="text", name="userProvidedUrl")
