extends layout

block content
  h1 Welcome to the link shortner

  form(action="/link", method="post")
    div
      label Enter the URL to be shortened
      br
      input(type="text", name="userProvidedUrl")
    div
      label Enter one favorite word
      br
      input(type="text", name="userFavoriteKeyword")
    div
      input(type="submit" value="short URL")
