doctype html
html
  head
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title= title
    script(async src='javascripts/bootstrap.min.js')
  body
    link(rel='stylesheet', href='/stylesheets/style.css')

    link(rel='stylesheet' href='stylesheets/bootstrap.min.css')
    link(rel='stylesheet' href='stylesheets/bootstrap-theme.min.css')
    block content
    block pageContainer


