
.body {
  padding: 50px;
  font: 14px, "Din Rounded Pro", Helvetica, sans-serif;
  background-color: #69D2E7;
}

.body .label {
  color:white;
}

.alert {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}
.center .h3 {
  color: gray;
  margin-top: 80px;
}


.body .h1 {
  color:white;
  font-size: 9.5em;
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}
.btn {
  margin-left: 3px;
}
.body .form {
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  text-align: center;
  width: 70%;
}

.glyphicon {
  margin-top: 10px;
}
